.footer {
  color: var(--clr-light);
  padding: 20px;
  text-align: center;
}

.footer__menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  padding: 0;
}

.footer__link {
  color: var(--clr-light);
  text-decoration: none;
  margin: 0 15px;
}

.footer__link:hover {
  color: var(--clr-green);
}

.footer__social {
  margin-top: 10px;
}

.social__media a {
  color: var(--clr-light);
  margin: 0 10px;
  font-size: 20px;
}

