
.header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 2rem;
  padding-right: 2rem;
  position: relative;
  z-index: 9999;
}

.header__menu{
  display: none;
}
.header__bars{
  color: var(--clr-light);
  width: var(--size-2xl) ;
  height:var(--size-2xl) ;
  display: block;
}

.header__logo{
  position: absolute;
  top: 1.8rem;
  left: 2rem;
  font-size: var(--size-sm);
  text-decoration: none;
  font-weight: 600;
  animation: glowing 0.5s ease infinite normal;
}
@keyframes glowing{
  0%{
    color: var(--clr-light);
    text-shadow: 0 0 10px rgba(80, 200, 120, 0.8);
  }
  100%{
    color:var(--clr-green);
  }
}

/*  xs */
/* @media (min-width:475px){

} */
/*  sm */
/* @media (min-width:640px){

} */
/*  md */
@media (min-width:768px){
  .header__menu{
    display: flex;
    align-items: center;
    padding: 0;
    gap: 2em;
    }
    .header__link{
      font-size: var(--size-xs);
      text-decoration: none;
      font-weight: 600;
      color: var(--clr-slate400);
      letter-spacing: -0.05em;
      transition: color 0.3s;
    }
    .header__link:hover,.header__sun:hover {
      color: var(--clr-light);
      border: 0 0 2px 0 solid var(--clr-green);
      transform: scale(1.05);
    }
    .header__line{
      border: 1px solid var(--clr-slate400);
      padding-top:1.5em ;
    }
    }
    .header__sun{
      display: block;
      color: var(--clr-slate400);
      width: var(--size-base);
      height: var(--size-base);
    }

/*  lg */
@media (min-width:1024px){
  .header__link {
    font-size: var(--size-sm);
  }

  .header__sun {
    width: var(--size-xl);
    height: var(--size-xl);
  }
}
@media(min-width:768px){
  .header__bars{
    display: none;
  }
  .header__logo{
    font-size: var(--size-sm);
  }
}

/*  xL */
/* @media (min-width:1280px){

} */
/*  2xL */
/* @media (min-width:1536px){

}  */