.home{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3rem;
  padding: 1rem 0;
}
.home__content h3{
  display: flex;
  flex-direction: row;
}
.home__content h3{
  font-size: var( --size-4xl);
  font-weight: 700;
}
.home__content h1{
  margin-bottom:var(--size-5xl) ;
  font-weight: 700;
  color: var(--clr-slate400);
  font-size: var( --size-5xl);
}
.hero__disciption{
  max-width: 60ch;
  color: var(--clr-slate400);
}
.home__img{
  width: 30rem;
  margin-top: 4.5rem;
  overflow: hidden;
  border-radius:2.5rem ;
  border:3.5px solid var(--clr-green);
}

.typed-cursor {
  color: var(--clr-green);
}
.home__content p{
    font-size: var(--size-md);
}
.social__media{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem 0;
}
.social__media i{
  display: inline-flex;
  justify-content:center ;
  align-items: center;
  width: 2rem;
  height: 2rem;
  margin-bottom: 1rem ;
  background: transparent;
  text-decoration: none;
  transition: .3s ease-in-out;
}
.social__media i:hover{
  color: var(--clr-light);
  transform: scale(1.1);
}

@media (min-width:320px){
  .home{
    gap: 1rem;
    flex-direction: column-reverse;
  }
  .home__content{
    margin: 0 2rem;
  }
  .hero__disciption{
    font-size: var(--size-sm);
    margin:0 1rem 0 1rem;
}
.home__content h3{
  font-size: var(--size-xl);
  margin: 0 1rem 0 1rem;
}
.home__content h1{
  font-size: var(--size-2xl);
  margin:0 1rem 1rem 1rem;
}
.home__img{
  width: 15rem;
  margin-bottom: 1rem;
}

.home__content p{
  font-size:var( --size-xs) ;
}
.social__media i{
  font-size: var(--size-sm);
}
.download-cv{
    display: flex;
    justify-content: center;
}
}
@media (min-width:375px){
.home__img{
  width: 16rem;
  
}
.home__content p{
  font-size:var( --size-xs) ;
}
.social__media {
 margin-left: 0;
}
}
@media (min-width:425px){
  .home__img{
    width: 20rem;
    
  }
  .home__content{
    margin: 0 1rem;
  }
  .social__media {
    margin-left:0;
   }
}
@media (min-width:768px){
  .home__content p{
    font-size:var( --size-base) ;
  }
  .social__media {
    font-size: var(--size-lg);
  }
  .download-cv{
    margin-left: 1rem;
  }
}
@media (min-width:1024px){
  .home{
    flex-direction: row;
  }
  .social__media {
   margin: 0 1rem;
  }
  .home__img{
    width: 23rem;
    
  }
}