.work__container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card__container{
  padding-block:var(--size-5xl) ;
}
.card__content{
  margin-inline: 1.75rem;
  border-radius: var(--size-xl);
  overflow: hidden;
}
.card__image{
  border-radius: var(--size-xl);
  overflow: hidden;
  background-color:var(--clr-slate400) ;
  padding-top:var(--size-2xl) ;
  margin: 0 auto;
  margin-bottom:-.75rem ;
}
.card__data{
  background-color:var(--clr-slate800) ;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  z-index: 10;
}
.card__img{
  width: 180px;
  position: relative;
  z-index: 5;
}
.card__name{
  color:var(--clr-light) ;
  font-size:1rem ;
  margin-bottom: .75rem;
}
.card__description{
  color: var(--clr-slate400);
  margin-bottom: 1.75rem;
}
.card__button{
  background-color: transparent; /* Primary color */
  color: var(--clr-green);
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1rem;
  border: 2px solid var(--clr-light);
  border-radius: 5px;
}
.card__button:hover{
  border: 2px solid var(--clr-green);
  background-color: var(--clr-green);
  color: var(--clr-light);
}
.swiper-button-next::after,
.swiper-button-prev::after{
  content: '';
}
.swiper-button-next,
.swiper-button-prev{
  width: initial;
  height: initial;
  font-size: 2rem;
  color: var(--clr-green);
  display: none;
}
.swiper-button-prev{
  left:0;
}
.swiper-button-next{
  right: 0;
}
.swiper-pagination-bullet{
  background-color:rgba(80, 200, 120,0.5);
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: var(--clr-green);
}
.card__container h2{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--size-base);
}
@media  screen and (min-width:320px) {
  .card__data{
    padding: 1rem;
  }
  .card__description{
    font-size: var(--size-xs);
  }
}
@media  screen and (min-width:768px) {
  .card__content{
   margin-inline:var(--size-5xl);
  }
.swiper-button-next,
.swiper-button-prev{
  display: block;
}
}
@media  screen and (min-width:1024px){
  .card__container{
    max-width: 1120px;
  }
  .card__container h2{
    font-size: var(--size-xl);
  }
}