 /*  xs */
/* @media (min-width:475px){

} */
/*  sm */
/* @media (min-width:640px){

} */
/*  md */
/* @media (min-width:768px){

} */
/*  lg */
/* @media (min-width:1024px){

} */
/*  xL */
/* @media (min-width:1280px){

} */
/*  2xL */
/* @media (min-width:1536px){

}  */
.btn{
  background-color: transparent; /* Primary color */
  color: var(--clr-green);
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1rem;
  border: 2px solid var(--clr-light);
  border-radius: 5px; 
}
.btn:hover {
  color: var(--clr-light);
  background-color: var(--clr-green);
  border-color: var(--clr-green);
}
section{
  padding: 2rem 0;
}
