 /*  xs */
/* @media (min-width:475px){

} */
/*  sm */
/* @media (min-width:640px){

} */
/*  md */
/* @media (min-width:768px){

} */
/*  lg */
/* @media (min-width:1024px){

} */
/*  xL */
/* @media (min-width:1280px){

} */
/*  2xL */
/* @media (min-width:1536px){

}  */
.btn{
  background-color: var(--clr-green); /* Primary color */
  color: var(--clr-dark);
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  padding: 0 1rem 0 1rem;
  font-size: 1rem;
  border-radius: 5px; 
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(80, 200, 120, 0.8),0 0 10px rgba(80, 200, 120, 0.8),0 0 10px rgba(80, 200, 120, 0.8),0 0 20px rgba(80, 200, 120, 0.8);
  margin-left: 5rem;
}
.btn:hover {
  color: var(--clr-light);
  background-color: var(--clr-green); /* Slightly darker shade of emerald green */
  transform: scale(1.05);
}
.loading{
  filter: blur(40px) grayscale(100%);
  transition: 0.7s ease-in-out;
}
.loaded{
  filter: blur(0) grayscale(0);
}

